.resume-section {
    background-color: #9cc5a1;
    padding: 5%;
    border-radius: 10px;
}

.rainbow {
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
}

li, h1 {
    color: #1f2421;
}

body {
    background-color: #dce1de;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}